html, body {
	background-color: #EEEEEE;
	color: #333333;
	font-family: "Trebuchet MS",Trebuchet,serif;
}
.fixed-header {
	background-color: #EEEEEE; 
}
a {
	color: #FF6600;
}
a:hover {
	color: #0066FF;
}

.logo {
	clear:both;
	text-align:left;
	font-size:2em;
	font-weight: bold;
	color:#FF6600;
}
.replymode {
	background:#DDDDDD;
	text-align:center;
	padding:2px;
	color:#2266AA;
	clear: both;
	font-weight: bold;
	margin-bottom: .5em;
	border: solid 1px #CCCCCC;
}

.postblock {
	background:transparent;
	color:#696969;
	font-weight:bold;
	font-size: .8em;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
	margin: 2em 0 0 0;
}

.unkfunc {
	background:inherit;
	color:#789922;
}
.unkfunc0 {
	background:inherit;
	color:#789922;
}
.unkfunc1 {
	background:inherit;
	color:#6f8e1c;
}
.unkfunc2 {
	background:inherit;
	color:#678618;
}
.unkfunc3 {
	background:inherit;
	color:#5e7a14;
}
.unkfunc4 {
	background:inherit;
	color:#516a0f;
}
.reflink {
	font-size: .8em;
	font-weight: bold;
}
.fake_filesize {
	text-decoration:none;
	color: #666666;
	font-size: .8em;
	margin-left: 2px;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#002244;
	font-weight:bold;
}
.postername {
}
.postertrip {
	color:#2E8B57;
}

.reply {
	background:#DDDDDD;
	border: solid 1px #CCCCCC;
	padding: 0;
	margin: 0;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
blockquote {
	margin: .5em .5em .5em 1em;
}
blockquote p {
	margin: 0;
	padding: 0;
}
.reply blockquote {
	margin: .5em;
}
.doubledash {
	display: none;
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#002244;
	font-weight:bold;
}

hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #BBBBBB;
}
table {
	border-style: none;
}
table td {
	border-style: none;
}

.highlight {
	background:#EEDACB;
	color:#333333;
	border: 2px dashed #EE6600;
}
.spoiler {
	background:#BBBBBB;
	color:#BBBBBB;
}
.spoiler:hover {
	background:#BBBBBB !important;
	color:#333333 !important;
}
a[href$=sage],a[href$=Sage],a[href$=SAGE] {
	color:#000;
	text-shadow:#000 0px 0px 5px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


input[type="button"], input[type="submit"]
{
	background-color:#f3f1f1;
	border:1px solid #b4b4b4;
	color:#282828;
	box-shadow: 0 0 2px #cfcfcf, inset 0 0 15px #e3e3e3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: inline-block;
	font-family: "Trebuchet MS",Trebuchet,serif,'Marck Script';
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	margin-right: 2.8px;
}
input[type="button"]:hover, input[type="submit"]:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f1f1f1), color-stop(1, #f1f1f1) );
	background: -moz-linear-gradient( center top, #f1f1f1 5%, #f1f1f1 100% );
	background-color: #82ff82;
	color: #ff6600;
}
input[type="button"]:active, input[type="submit"]:active
{
	position: relative;
	top: 1px;
}

.modal__inner {
	background:#EEEEEE;
}