html, body { 
	background-image: url("/css/images/ts/bg5.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0% 0%;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
	background-attachment: fixed;
	background-color: #591a42; 
	font-family: "Trebuchet MS",Trebuchet,serif,cursive,'Marmelad', sans-serif;
	color: #fff 
}
.fixed-header {
	background-color: #591a42; 
}
a
{
	color: #e781d5; 
}
a:hover
{
	color: #eaaedf; 
}

.logo
{
	color: #fff; 
	font-size:2em;
	font-weight: bold;
}
.replymode   
{
	background: #671959; 
	border: solid 1px #721962; 
	clear: both;
	color: #000; 
	font-weight: bold;
	margin-bottom: .5em;
	padding: 2px;
	text-align: center;
}


.postblock {  
    color: #fff; 
	border: 2px solid #53183d;
    border-radius: 5px;
	background: -moz-linear-gradient(top,  #661b4b 0%, #651a4a 21%, #55193f 40%, #691f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#661b4b), color-stop(21%,#651a4a), color-stop(40%,#55193f), color-stop(100%,#55193f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* IE10+ */
	background: linear-gradient(0deg,  #651a4a 10%,#621d49 45%,#802361 100%); /* W3C */
}
.footer  
{
	font-family: serif;
	font-size: 12px;
	margin: 2em 0 0 0;
	text-align: center;
}

.unkfunc 
{
	background: inherit;
	color: #9e3ac3;
}
.unkfunc0 
{
	background: inherit;
	color: #9e3ac3;
}
.unkfunc1 
{
	background: inherit;
	color: #9333b6;
}
.unkfunc2 
{
	background: inherit;
	color: #882caa;
}
.unkfunc3 
{
	background: inherit;
	color: #7e279e;
}
.unkfunc4 
{
	background: inherit;
	color: #742292;
}
.reflink
{
	font-size: .8em;
	font-weight: bold;
}
.fake_filesize  
{
	color: #fff;
	font-size: .8em;
	text-decoration: none;
}
.filetitle 
{
	color: #d91297;
	font-size: 1.5em;
}
.postername 
{
	color: #f953ad;
}
.postertrip 
{
	color: #f653ac;
}

.reply 
{
	background: -moz-linear-gradient(top,  #661b4b 0%, #651a4a 21%, #55193f 40%, #691f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#661b4b), color-stop(21%,#651a4a), color-stop(40%,#55193f), color-stop(100%,#55193f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* IE10+ */
	background: linear-gradient(0deg,  #651a4a 10%,#621d49 45%,#802361 100%); /* W3C */
    margin: 0;
	padding: 0;
    border: 2px solid #53183d;
    border-radius: 5px;

}
blockquote
{
	margin: .5em .5em .5em 1em;
}
blockquote p
{
	margin: 0;
	padding: 0;
}
.reply blockquote
{
	margin: .5em;
}
.doubledash  
{
	clear: both;
	display: none;
	float: left;
	vertical-align: top;
}

hr  
{
	border-color: #BBBBBB;
	border-style: solid none none none;
	border-width: 1px;
}
table  
{
	border-style: none;
}
table td  
{
	border-style: none;
}

.highlight  
{
	background: #52774d;
	border: 2px dashed #FFFDDD;
	color: #333333;
} 
.spoiler 
{
	background: #d493f2;
	color: #d493f2;
}
.spoiler:hover
{
	background: #ca61c6 !important;
	color: #fff !important;  
}
.dice  
{
	color: #f1bd8a; 
	font-style: italic;
}
a[href$=sage],a[href$=Sage],a[href$=SAGE]
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	color: #000;
	text-shadow: #000 0px 0px 5px;
}

.postarea
{
	background-color: #000; 
	border: 1px solid #d5d5d5!important; 
	border-radius: 5px;
	box-sizing: content-box;
	color: #000; 
	padding-right: 115px;
}

textarea
{
    background-image: url("/css/images/ts/postarea.png")!important;
	background-position: 100% 0%;
	background-repeat: repeat-y;
	background-color: #fff; 
	border:1px solid #53183d; 
	border-radius: 5px;
	box-sizing: content-box;
	color: #000; 
}
select{
	background-color: #fff; 
	border: 1px solid #53183d !important; 
	border-radius: 5px;
	box-sizing: content-box;
	color: #000; 
}
input[type="password"],select[name=embedtype],input[type="file"],input[type="image"],input[type="text"]
{
	background-color: #fff; 
	border: 1px solid #d5d5d5!important; 
	box-sizing: content-box;
	color: #000;  
}
input[type="file"],input[type="image"],input[type="text"]
{
	border-radius: 5px;
}
input:hover[type="text"],input:focus[type="text"] 
{
	background-color: #fff; 
	color: #000; 
}

textarea:hover,textarea:focus,select:hover,select:focus 
{
	background-color: #fff; 
	color: #000; 
}

input[type="button"], input[type="submit"]
{
	background-color: #0c0221;
	border:1px solid #53183d; 
	color: #fff;
	box-shadow: 0 0 2px #a4bff8 inset 0 0 15px #c7d7f9;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: inline-block;
	font-family: "Trebuchet MS",Trebuchet,serif,'Marck Script';
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	text-align: center;
	margin-right: 2.8px;
    background: -moz-linear-gradient(top,  #661b4b 0%, #651a4a 21%, #55193f 40%, #691f4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#661b4b), color-stop(21%,#651a4a), color-stop(40%,#55193f), color-stop(100%,#55193f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #661b4b 0%,#651a4a 21%,#55193f 40%,#55193f 100%); /* IE10+ */
	background: linear-gradient(0deg,  #651a4a 10%,#621d49 45%,#802361 100%); /* W3C */
    
}
input[type="button"]:hover, input[type="submit"]:hover
{
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8650a4), color-stop(1, #8650a4) );
	background: -moz-linear-gradient( center top, #7d479c 5%, #7d479c 100% );
	background-color: #82ff82;
	color: #fff;
}
input[type="button"]:active, input[type="submit"]:active
{
	position: relative;
	top: 1px;
}

input[type="file"]{
    border:1px solid #1e0849; 
}

.modal__inner {
	background:#591a42;
}